<nav aria-label="Breadcrumb" class="breadcrumbs">
  <ol class="breadcrumbs-list">
    <li class="breadcrumbs-item">
      <a href="/" class="breadcrumbs-href"><span>Kompetencer</span></a>
    </li>
    <li class="breadcrumbs-item active">
      <a href="/" class="breadcrumbs-href" aria-current="page"><span>UX Proccess</span></a>
    </li>
    <!--<li *ngFor="let breadcrumb of breadcrumbs" >-->
    <!--class="breadcrumb-item">-->
    <!--<a routerLink="{{breadcrumb.url}}" aria-current="page">-->
    <!--{{ breadcrumb.label }}-->
    <!--</a>-->
    <!--</li>-->
  </ol>
</nav>
