<header class="header-body">
  <a class="logo" href="/">
    <img class="" src="assets/images/logo.svg" alt="ovdal.dk">
  </a>
  <div class="header-contact">
    <a class="header-contact--book" href="/"><span>Book your free website Cconsultation</span></a>
    <a class="header-contact--phone" href="tel:01001234567"><span>Need help? Call 7878 70 27</span></a>
  </div>
  <div class="button-menu">
    <span></span>
    <span></span>
    <span></span>
    <button class="butt_descr">menu</button>
  </div>
</header>
