  <a class="case-item" [routerLink]="['/cases', item.id]" data-aos="fade-up">
    <div class="case-elem">
      <div class="case-bck"
           [ngStyle]="item.bckColor === '' ? {'background-image':'url('+item.bckImg+')'} : {'background-color': item.bckColor}"></div>
      <div class="case-logo"><img [src]="item.logoImg" alt=""></div>
      <div class="cases-title-group">
        <div class="case-title">{{item.title}}</div>
        <div class="case-descr">{{item.shortDescr}}</div>
      </div>
      <div class="cases-descr-group">
        <div class="case-type">{{item.type}}</div>
        <div class="case-category">{{item.category}}</div>
      </div>
      <div class="case-image-promo"><img [src]="item.promoImg" alt=""></div>
    </div>
  </a>
